<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <title>Iniciio</title>
</head>
<body>

    <h1>Home</h1>
    {% if user is user.username %}
        <p>Hola, {{ user.username }}</p>
        <a href="(% url 'privado' %)">Ir a zona privada </a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>No has iniciado sesión.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    

</body>
</html>